.contenedor {
    display: flex;
    justify-content: space-evenly;
}

.caja {
    width: 30%;
    background-color: antiquewhite;
    font-size: 2em;
    border-radius: 12px;
    border: 1px solid black;
    text-align: center;
    padding: 12px;
    margin: 20px;
    user-select: none;
}

img {
    width: 400px;
    
}

